<div class='container-fluid' id='home-carousel'>
    <video id="intro-video" class="video-cover" src="https://d2fa3j67sd1nwo.cloudfront.net/video/homepage.020d4af35dca.mp4" autoplay="" loop=""></video>
</div>
<div id='overlay'>
    <div class='row'>
        <div class='col-1'></div>
        <div class='col-10 text-center'>
            <h1 class='display-1' style='font-family: Helvetica; color: #fff; font-size: 5em'>Rent what you need</h1>
            <h1 class='display-3' style='font-family: Helvetica; color: #fff;'>Save by renting from your neighbor</h1>
        </div>
        <div class='col-1'></div>
    </div>
    <br>

    <div class='row search-item'>
        <div class='col-1'></div>
        <div class='col-10'>
            <div class="form-group">
                <input class="form-control" id="focusedInput" type="text" placeholder="Search for an item...">
            </div>
        </div>
        <div class='col-1'></div>
    </div>
</div>